body{
    background-color: rgb(97, 96, 96);
}
header{
    background-color: darkblue !important;
    border:2x solid rgb(228, 228, 228);
    /* confuguracion de displas flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
header imag{

    padding:  20px;
}
nav{
    /* confuguracion de displas flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
section{
    width: 40%;
    border: 2px solid black;
    padding:  10px;
    border-radius: 20px;
    margin:  10px auto;
    background: linear-gradient(red, blue);
}
form{
    background-color: silver;
    width: 70%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: outset 0 0 10px purple;
}
fieldset{
    border-style: none;
}
label{
    font-size: 18px;
}
textarea{
    resize: both;
    max-height: 100px;
}
/*pseuedoclase focus: al dar clic en boton */
input:focus, textarea:focus{
    border-color: blue;
    cursor: pointer;
    box-shadow: outset 0 0 10px brown;
    outline:0 none;
}
form button{
    width: 40;
    margin: 15px 20px;
    background: radial-gradient(green, yellow);
}
form input{
    height: 20px;
    box-sizing: border-box;
    color: black;
    outline: none;
}
    /*pseudoclase hover: al pasar mouse por encima control*/
form button:hover{
    background: rgb(85, 94, 175);
    text-decoration: underline;
    color: white;

}
